body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Serif Display', serif;
    background-color: #414141;
  }
  
.snake {
  background-color: #00ff22;
  border: #fc0000 2px dotted;
}

#game_board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
  }

  .game_border {
    border: #595f43 solid 20px;
  }

  #enter {
    position: absolute;
    top: 47%;
    color: red;
    width: 300px;
    text-align: center;
    padding: 30px;
    margin: 0;
  }

.scores{
  display: flex;
  justify-content: space-between;
}

  #score {
    color: #abb78a;
  }

  #cooldown_timer {
    color: #abb78a;
  }

  
  
  .apple {
    background-color: #ff0000;
    border: #cc1111 5px solid;
  }
  
  #logo {
    position: absolute;
  }