body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Noto Serif Display', serif;
    background-color: #000000;
  }
  
.snake {
  background-color: #ff01c0;
  border: #d900ff 5px solid;
} 

#game_board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
  }

  .game_border {
    border: #869c38 solid 20px;
  }

  #enter {
    position: absolute;
    top: 47%;
    color: red;
    width: 300px;
    text-align: center;
    padding: 30px;
    margin: 0;
  }
  #reset {
    position: absolute;
    font-size: 25px;
    border: none;
    font-weight: 900;
    top: 60%;
    color: rgb(0, 0, 0);
    background-color:#767676 ;
    width: 50x;
    text-align: center;
    padding: 30px;
    margin: 0;
  }
  #reset:hover{
    background-color:red ;
   cursor: not-allowed;
  }

  #over {
    position: absolute;
    top: 40%;
    color: red;
    width: 300px;
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 50px;
    font-weight: 900;
  }

.scores{
  display: flex;
  justify-content: space-between;
}
  #score {
    color :#1d95e0 ;
  }
  
  .apple {
    background-color: #ff0000;
    border: #cc1111 5px solid;
  }
  #logo {
    position: absolute;
  }